{{ partial "header.html" . }}
<main class="row">

   <div class="col-12 col-sm-12 ml-xl-0 col-md-12 col-lg-9 col-xl-8 text-center">
        <h1>Error 504 - Gateway Timeout</h1>
        <p>Sorry, the server is currently unavailable. Please try again later.</p>
       <a href="https://web.judaicalink.org/" class="btn btn-primary search_button" role="button">Back to Home</a>
    </div>

    <div class="col-md-0 col-lg-3 col-xl-4">
        <img src="/img/new_synagogue_berlin.jpg" class="img-thumbnail img-fluid mt-4" alt="new synagogue berlin">
    </div>

</main>
{{ partial "footer.html" . }}