
body,html {
   padding:0;
   margin:0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   font-size: 16px;

}
h1, h2, h3, h4, a{
  color: #004284;
}

/*-------------------------------------------------------*/


a:hover {
    color: red;
}

.wrapper {
    display: flex;
    width: 100%;
}


#sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

button {
   position: fixed;
   top: 0;
   margin-left: -68px;
   height: 40px;
   width: 45px;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #4775d1;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#sidebar .sidebar-header {
    padding: 20px;
    background-color: #4775d1;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #47748b;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #004284;
}
#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #004284;
}


#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.row {
    padding: 10px;
    }

.col-md-4 {
    border-left: solid 1px lightgrey;
    }

#hdmlogo {
    padding: 5px;
    width: 75px;
    height: auto;
    margin-right: 10px;
}

#dmelogo {
    width: 110px;
    height: auto;
    margin-top: 10px;
    margin-left: 5px;
}
#jcelogo {
    padding: 5px;
    width: 120px;
    height: auto;
}
#ubflogo {
    padding: 5px;
    width: 95px;
    height: auto;
    margin-top: -5px;
}
#jeulogo {
    padding: 5px;
    width: 130px;
    height: auto;
    margin-top: -5px;
}
#euprologo {
    padding: 5px;
    width: 126px;
    height: auto;
    margin-top: 3px;
    }


.header-logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*JudaicaLink Logo*/
.logo {
  width: 200px;
}
/*JudaicaLink Logo*/


/*FID Logo oben rechts*/
.logofid {
  width: 220px;
  }
/*FID Logo oben rechts*/


.footer-logos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}

.footer-content{
    margin-top: 10px;
    font-size: 17px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}
.footer-content a{
    color: black;
}
.footer-content a:hover{
    text-decoration:underline;
}

.logo_sidebar{
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}


.container-fluid {
margin-top: -30px;}







/*--------war davor in search.css---------*/
.hit {
	margin-bottom: 10px;

}

.snippet, .score {
	color:#333333;
	font-size:80%;
}

ul.results {
	list-style-type: none;
	font-family:sans-serif;
	width:600px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*-------------------------------------------------------*/




