{{partial "header.html" .}}
<!--bezieht sich auf die News-Seite-->

<main class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-8 mt-4">
  <img src="/img/News.png" height="auto" width="100%">
  <div class="card text-center text-md-left">
          {{ range first 10 .Data.Pages }}

   <ul class="list-group list-group-flush">
       <li class="text-dark list-group-item list-group-item-action list-group-item-light">
  <h4 class="uppercase"><a href="{{.Permalink }}">{{ .Title }}</a></h4>
  <p><i>{{dateFormat "Mon, January _2, 2006" .Date}}</i></p>
  <p>{{ .Summary  }}</p>
      <div class="d-flex justify-content-center">
  <a class="btn btn-secondary" href="{{.Permalink}}">read more</a>
        </div>

       </li>
    </ul>
{{ end }}



  </div>
</div>

<!-- sticky Bild Idee -->
<!--    <div class="col-md-0 col-lg-3 col-xl-4">-->
<!--<div class="alert alert-success text-center mt-4 sticky-top" style="top: 30px" role="alert"><i class="fas fa-bullhorn"></i>-->
<!--            <b>Give us your datasets!</b> We are always searching for new datasets to expand our knowledge graph. If you have interesting datasets about Jewish Studies, please get in touch with us!-->
<!--            <br><br><a class="btn btn-success" href="/about-us">contact Team</a>-->
<!--</div>-->
<!--            -->
<!--        </div>-->

</main>
{{partial "footer.html" .}}
