{{partial "header.html" .}}
<!--bezieht sich auf die News-Seite-->

<main class="row">
<div class="col-md-12 col-lg-9 col-xl-8">
  <h1 class="text-center text-md-left" id="title">{{ .Title }}</h1>
  
  {{ range first 10 .Data.Pages }}
  <h4 class="uppercase"><a href="{{.Permalink }}">{{ .Title }}</a></h4>
  <p><i>{{dateFormat "Mon, January _2, 2006" .Date}}</i></p>
  <p>{{ .Summary  }}</p>
  <p class="bottomskip"><a href="{{.Permalink}}">read more</a></p>
  {{ end }}
</div>



</main>
{{partial "footer.html" .}}
