<!-- Footer -->

<footer class="row">
    <div class="col-md-12">
        <hr>
        <div class="footer-logos">
<a href="https://www.th-mannheim.de" target="_blank" rel="noopener"><img id=thmannheimlogo src="/img/TH_Mannheim_Logo_RGB_schwarz.png" alt="TH Mannheim Logo" width="200px" height="auto"/></a>
<a href="https://dm2e.eu" target="_blank" rel="noopener"><img id=dmelogo src="/img/DigitisedManuscriptstoEuropeana.png" alt="Digitised Manuscripts to Europeana Logo"/></a>
<a href="https://www.ub.uni-frankfurt.de" target="_blank" rel="noopener"><img id=ubflogo src="/img/ubfrankfurt.jpg" alt="ub frankfurt Logo"/></a>
<a href="http://www.jhn.ngo/judaica-europeana-archive/" target="_blank" rel="noopener"><img id=jeulogo src="/img/Judaica_Europeana.png" alt="Judaica Europeana Logo"/></a>
<a href="https://pro.europeana.eu" target="_blank" rel="noopener"><img id=euprologo src="/img/Europeana_pro.png" alt="Europeana Pro Logo"/></a>
            <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank" rel="noopener"><img src="/img/fid-logo.jpg" alt="FID logo" class="logofidfooter d-md-none"/></a>
        </div>
        <div class="footer-content">
            <pre>Copyright &copy; WISS Research Group 2013-{{now.Format "2023"}}</pre>
            <pre><a href="/faq">FAQ</a> | <a href="http://data.judaicalink.org/sparql.html">SPARQL</a> | <a href="https://ontology.judaicalink.org">Ontology</a> |  <a href="/about-us">About</a> | <a href="/legal">Disclaimer</a> | <a href="/legal">Privacy Policy</a> | <a href="https://labs.judaicalink.org/contact/">Contact</a> | <a href="https://github.com/judaicalink">Github</a> | <a href="https://judaicalink-labs.readthedocs.io/en/master/">Docs</a></pre>
</div>
</div>
     </footer>

<!-- jQuery first, then Bootstrap JS. --><!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
        <script src="/js/jquery.simplePagination.js"></script>
        <script src="/js/search.js"></script>
      <script src="/js/activePageHighlighting.js"></script>
      <script src="/js/counter.js"></script>


</div> <!--<div class="wrapper">-->
    </div> <!--<div id="content">-->
    </div>  <!--<div class="container-fluid">-->
  </body>
</html>


