    <!-- Footer -->
<footer class="row">
    <div class="col-md-12">
<div class="logo_pictures">
    <hr>
<a href="https://www.hdm-stuttgart.de" target="_blank"><img id=hdmlogo src="/img/HDM-logo.png" alt="HdM Logo"/></a>
<a href="https://dm2e.eu" target="_blank"><img id=dmelogo src="/img/DigitisedManuscriptstoEuropeana.png" alt="Digitised Manuscripts to Europeana Logo"/></a>
<a href="http://www.jewishcultureineurope.org" target="_blank"><img id=jcelogo src="/img/jewishcultureineurope.png" alt="jewish culture in europe Logo"/></a>
<a href="https://www.ub.uni-frankfurt.de" target="_blank"><img id=ubflogo src="/img/ubfrankfurt.jpg" alt="ub frankfurt Logo"/></a>
<a href="http://www.jhn.ngo/judaica-europeana-archive/" target="_blank"><img id=jeulogo src="/img/Judaica_Europeana.png" alt="Judaica Europeana Logo"/></a>
<a href="https://pro.europeana.eu" target="_blank"><img id=euprologo src="/img/Europeana_pro.png" alt="Europeana Pro Logo"/></a>
</div>
<div class="footer">
<p><a href="/news">NEWS  </a>   |   <a href="/faq">FAQ  </a>   |   <a href="/about-us">ABOUT US</a></p>
<p><cite>Copyright &copy; WISS Research Group 2013-2020</cite> |  <a href="/">DISCLAIMER</a></p>
</div>
    <div>
    <!-- /.container -->
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="/js/jquery-1.12.3.min.js"></script>
    <script src="/js/jquery.simplePagination.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/search.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</div>
        </div>
    </footer>
  </body>
</html>
