<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/labs.css">
    <link rel="stylesheet" href="/css/simplePagination.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

      <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->

      <title>{{ .Site.Title }}</title>


  </head>
  <body>
  <div class="wrapper">
      {{partial "navbar.html" . }}
<div id="content">
    <div class="container-fluid">

    <!-- Page Header -->
<header class="row">
    <div class="col-md-12">

        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                        <i class="fas fa-bars"></i>
                    </button>


        <div class="header-logos">
       <a href="/"><img src="/img/transp_judaica_web.png" alt="JudaicaLink labs logo" class="logo"/></a>
    <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><img src="/img/fid-logo.jpg" alt="FID logo" class="logofid"/></a>
   </div>
    </div>
</header>


