<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/labs.css">
    <link rel="stylesheet" href="/css/simplePagination.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
      <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->

      <title>{{ .Site.Title }}</title>

    <!-- Matomo -->
    <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//web.judaicalink.org/matomo/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
  
  </head>
  <body>
  <div class="wrapper">


      <!-- Page Navigation -->

      <nav id="sidebar">
            <div class="sidebar-header">

            </div>

            <ul class="list-unstyled components nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i>  Web Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datasets"><i class="fas fa-table"></i>  Datasets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://labs.judaicalink.org/search/"><i class="fas fa-search"></i>  Labs Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news"><i class="fas fa-comment"></i>  News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><i class="fas fa-hanukiah"></i>  FID Jewish Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" class="nav-link" href="/faq"><i class="fas fa-question-circle"></i> FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" class="nav-link" href="/about-us"><i class="fas fa-info-circle"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/legal"><i class="fas fa-shield-alt"></i> Disclaimer</a>
                </li>
            </ul>
        </nav>

      <!-- Page Navigation -->

      <!-- Page Content -->

<div id="content">
    <div class="container-fluid">

        <!-- Page Header -->
<header class="row">
    <div class="col-md-12">


                    <button type="button" id="sidebarCollapse" class="btn btn-secondary buttonnav">
            <!-- tablet and laptop sizes start with x-button -->
            <i class="fas fa-times d-none d-sm-block"></i>
            <!-- smartphone size starts with hamburger-menu-button (because the sidebar is collapsed)-->
            <i class="fas fa-bars d-sm-none"></i>
                    </button>

        <div class="header-logos">
       <a href="/"><img src="/img/transp_judaica_web.png" alt="JudaicaLink labs logo" class="logo"/></a>
    <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><img src="/img/fid-logo.jpg" alt="FID logo" class="logofid d-none d-md-block"/></a>
   </div>
    </div>
</header>

    <!-- Page Header -->
