<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/css/wiss.css">-->
    <link rel="stylesheet" href="/css/labs.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/simplePagination.css">
    <title>{{ .Site.Title }}</title>


  </head>
  <body>

  <!-- Header -->
   <div class="header">
       <a href="/"><img src="/img/transp_judaica_labs.png" alt="JudaicaLink labs logo" class="logo"/></a>
    <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><img src="/img/fid-logo.jpg" alt="FID logo" class="logofid"/></a>
</div>
    <a href="https://github.com/wisslab/judaicalink-site"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

    <!-- Page Navigation -->
<input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-bars" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>
          <!--"/" is "http://www.judaicalink.org"-->
          <a href="/"><img src="/img/transp_judaica_labs.png" alt="JudaicaLink labs logo" class="logo_sidebar"/></a>

        </header>
        <div class="sidebar_content">
  <ul>
    <li><a href="/datasets"><i class="fas fa-table"></i>Datasets</a></li>
    <li><a href="/search"><i class="fas fa-search"></i>Labs</a></li>
    <li><a href="/news"><i class="fas fa-comment"></i>News</a></li>
    <li><a href="https://www.ub.uni-frankfurt.de/judaica3/home.html"><i class="fas fa-hanukiah"></i>FID jüdische Studien</a></li>
  </ul>
        </div>
</div>





