<!-- Page Navigation -->

        <nav id="sidebar">
            <div class="sidebar-header">

            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/"><i class="fas fa-home"></i>  Home</a>
                </li>
                <li>
                    <a href="/datasets"><i class="fas fa-table"></i>  Datasets</a>
                </li>
                <li>
                    <a href="https://labs.judaicalink.org"><i class="fas fa-search"></i>  Labs</a>
                </li>
                <li>
                <a href="/news"><i class="fas fa-comment"></i>  News</a>
                </li>
                <li>
                    <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><i class="fas fa-hanukiah"></i>  FID Jewish Studies</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-eye"></i>  More</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Disclaimer</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
