<div class="col-md-4">


<div class="sitebar">

<h3 class="left">News:</h3>

{{partial "newssidebar.html" . }}



<a href="/news">read more</a><br/>

<h3 class="left">Connected to</h3>

<table class="lectureTable">
	<tr>
		<td><a href="http://dm2e.eu/"><img src="/img/dm2e_logo.png"/></a></td><td><a href="http://dm2e.eu/"> Digitised Manuscripts
		to Europeana</a></td>
	</tr>
	<tr>
		<td><a href="http://www.judaica-europeana.eu/"><img src="/img/Judaica_Europeana_logosm-70.gif"/></td><td><a href="http://www.judaica-europeana.eu/">Judaica Europeana</a></td></a>
	</tr>
	<tr>
		<td><a href="http://wiss.iuk.hdm-stuttgart.de/"><img src="/img/hdm-logo.gif"/></a></td><td><a href="http://wiss.iuk.hdm-stuttgart.de/"> Hochschule der Medien</a></td></a>
	</tr>
	<tr>
		<td><a href="http://www.jewishcultureineurope.org/"><img src="/img/Just_logo-70.gif"/></a></td><td><a href="http://www.jewishcultureineurope.org/"> European Association
		for Jewish Culture</a></td></a>
	</tr>
</table>

</div>
</div>