
<div class="col-md-12 col-lg-4 col-xl-4">

<!--<h4 class="text-center text-md-left">News:</h4>-->

    <img class="mt-4" src="/img/News.png" height="auto" width="100%">


<div class="card text-center">


    <ul class="list-group list-group-flush">
    {{partial "newssidebar.html" . }}
    </ul>

    <div class="card-body">
    <a class="btn btn-secondary" href="/news">more News</a>

    </div>
</div>


    <div class="alert alert-info text-center mt-4"  role="alert"><i class="fa fa-code" aria-hidden="true"></i>
            <b>Join us on Github</b> <br>You are interested in the code of our JudaicaLink knowledge graph project, then visit the <a href="https://labs.judaicalink.org/">Judaicalink labs</a> repo on Github.
            <br><br><a class="btn btn-secondary" href="https://github.com/wisslab/judaicalink-labs" target="_blank">Github Repository</a>
    </div>


</div>



