<div class="col-md-4">


<div class="sidebar">

<h4 class="left">News:</h4>

{{partial "newssidebar.html" . }}



<a href="/news">read more</a><br/>

<h4 class="left">Connected to</h4>

<div class="partnerTableSmall">
	<div class="ptRow">
		<div>
			<a href="http://www.hdm-stuttgart.de/"><img src="/img/hdm-logo.gif" alt="HdM Logo"/></a>
		</div>
		<div>
<a href="http://www.jewishcultureineurope.org/"><img src="/img/Just_logo-70.gif" alt="EAJC Logo"/></a>
		</div>
	</div>
	<div class="ptRow">
		<div>
<a href="http://www.ub.uni-frankfurt.de/"><img src="/img/ubfrankfurt.jpg" alt="UB Frankfurt Logo"/></a>
		</div>
		<div>
<a href="http://www.judaica-europeana.eu/"><img src="/img/Judaica_Europeana_logosm-70.gif" alt="Judaica Europeana Logo" /></a>
	    </div>
	</div>
	<div class="ptRow">
		<div>
<a href="http://dm2e.eu/"><img src="/img/dm2e_logo.png" alt="DM2E Logo"/></a>
		</div>
		<div>
<a href="http://juedische-studien.fid-lizenzen.de"><img src="/img/fid-logo.jpg" alt="DM2E Logo"/></a>
		</div>
	</div>
	</div>
</div>
</div>
