<!-- Ansprechpartner des FID in Frankfurt. Steht auf der Teamseite in der
     rechten Spalte, weil es Kontaktangaben sind und kein Fliesstext. -->
<div class="col-md-12 col-lg-4 col-xl-4">
    <aside class="team-external-panel mt-4">
        <h2 class="team-external-heading" id="the-fid-team-in-frankfurt">The FID team in Frankfurt</h2>

        <p>The FID Jewish Studies runs JudaicaLink and curates its data. These are the
        people to contact about the content of the knowledge graph and about the service
        in production.</p>

        <div class="team-external">

            <div class="team-external-person">
                <b>Dr. Kerstin von der Krone</b><br>
                Head of Judaica Division<br>
                Tel.: +49 (0)69/798-39665<br>
                k.vonderkrone[at]ub.uni-frankfurt.de
            </div>

            <div class="team-external-person">
                <b>Marie-Luise Schmidt</b><br>
                Project Assistant<br>
                Tel.: +49 (0)69/798-39259<br>
                m.schmidt[at]ub.uni-frankfurt.de
            </div>

            <div class="team-external-person">
                <b>Aaron Christianson</b><br>
                Developer<br>
                Tel.: +49 (0)69/798-39385<br>
                a.christianson[at]ub.uni-frankfurt.de
            </div>

        </div>

        <p>The full team, including general contact details, is listed on
        <a href="https://www.jewishstudies.de/en/fid-jewish-studies/kontakt/" target="_blank" rel="noopener">Team &amp; contact information</a>
        in the FID portal.</p>
    </aside>
</div>
