{{ partial "header.html" . }}

<div class="content">
<h1>Welcome to JudaicaLink BETA!</h1>
<p>
Currently, we provide data about <b>58,111 entities</b>, consisting of <b>531,794 triples</b>, within <b>9 different datasets</b>.
</p>
	<p class="video">
	<video src="/img/blueorangestardots.mp4" height="385px" width="600px" autoplay="autoplay" loop preload="metadata"></video>
	</p>
<!--<img src="/img/homepage-graphics.png" alt="Linked Data Web"/>-->
<h2>Jewish Studies</h2>
<p>
JudaicaLink is the knowledge graph behind the <a href="http://www.jewishstudies.de">specialized information service for Jewish Studies</a> (Fachinformationsdienst Jüdische Studien, FID) of the University Library of Frankfurt.
JudaicaLink is a data resource for data professionals. Stay tuned for more services dedicated to the end user.
</p>

<p>
	<a href="http://www.jewishstudies.de"><img src="/img/fid-logo.jpg" alt="FID Logo"/></a>
</p>
</div>

{{ partial "sidebar.html" .}}

{{ partial "footer.html" . }}
